
/*
  Common
*/
.sp-hidden {
  display:none !important;
}

@media (min-width:768px) {
  .md\:sp-block {
    display:block !important;
  }
}

/*
  Colors
*/
.sp-has-text-red {
  color:red;
}

.sp-has-text-green {
  color:green;
}

/*
  Columns
*/
.sp-columns {
  display: flex;
}

.sp-columns.enable-wrap {
  flex-wrap: wrap;
}

.sp-column {
 box-sizing: border-box;
}

.sp-column.is-full {
  width:100%;
}

.sp-column.is-half {
  width:50%;
}

.sp-column.is-one-third {
  width:33.3333333%;
}

.sp-column.is-two-third {
  width:66.6666666%;
}

@media (min-width:768px) {
  .sp-column.is-half-tablet {
    width:50%;
  }
  .sp-column.is-one-third-tablet {
    width:33.3333333%;
  }
  .sp-column.is-two-third-tablet {
    width:66.6666666%;
  }
}

@media (min-width:1024px) {
  .sp-column.is-one-third-desktop {
    width:33.3333333%;
  }
  .sp-column.is-two-third-desktop {
    width:66.6666666%;
  }
  .sp-columns.row-reverse-dektop {
    flex-direction: row-reverse;
  }
}

@media (min-width:1400px) {
  .sp-column.is-one-third-widescreen {
    width:33.3333333%;
  }
  .sp-column.is-two-third-widescreen {
    width:66.6666666%;
  }
}

/*
  Spacing
*/
.sp-has-padding-right-1 {
  padding-right:8px;
}

.sp-has-padding-left-1 {
  padding-left:8px;
}

.sp-has-margin-bottom-2 {
  margin-bottom:16px;
}

@media (min-width:768px) {
  .sp-has-padding-right-1-tablet {
    padding-right:8px;
  }

  .sp-has-padding-left-1-tablet {
    padding-left:8px;
  }
}

/*
  Form honeypot
*/

.sp-fg56bn67 {
  height:0;
  overflow: hidden;
  display: block;
  margin:0;
  padding:0;
}

/*
  File Upload
*/
.sp-file-uploader {
  display:block;
  height:300px;
  width:100%;
  position: relative;
  background-color: #ccc;
  cursor: pointer;
}

.sp-file-uploader.dragover{
  border:1px solid black;
}

.sp-file-uploader-input {
  display:none !important;
}

.sp-file-uploader-image {
  display: block;
  margin: auto;
  height: 100% !important;
  position: relative !important;
  width: 100%;
  object-fit: contain;
}

.sp-file-uploader-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
  Map Navigation
*/
.sp-map-navigation {
  position: absolute;
  bottom: 16px;
  right: 16px;
  z-index: 999;
  display: flex;
  flex-direction: row;
}

@media (min-width:768px) {
  .sp-map-navigation {
    flex-direction: column;
  }
}

/*
  Map Buttons
*/
.sp-map-button {
  background-color: #49bcc4;
  color: #fff !important;
  border: 1px solid #49bcc4;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  text-decoration: none !important;
  cursor: pointer;
  line-height: normal;
}

.sp-map-button:hover {
  background-color: #fff;
  color: #49bcc4 !important;
  border: 1px solid #fff;
}

.sp-map-button-icon {
  padding: 10px;
}

.sp-map-button-label {
  padding: 10px;
  display:block;
}

/*
  Map Wrapper
*/
.sp-map {
  position: relative;
}

/*
  Map
*/
.sp-map-marker {
  /* background-color:#F1873E; */
  font-size: 2rem;
  border-radius: 50%;
  height:60px;
  width:40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%) translateY(-100%);
}

.sp-map-marker-cluster {
  position:relative;
}

.sp-map-marker-info {
  position:absolute;
  display: flex;
  justify-content: center;
  top:9px;
  font-size: 16px;
  color:#fff;
}

/*
  Map filter category
*/
.sp-map-filter-category {

}

.sp-map-filter-category-header {
  font-weight:bold;
  cursor:pointer;
  background-color: #49bcc4;
  color: #fff;
  line-height: normal;
  padding:10px;
}

.sp-map-filter-category-body {
  padding:10px;
}

/* Map filters */

.sp-map-filters {
  display:none;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 9999;
  background-color:#fff;
  max-height: 100%;
  overflow: auto;
  width:100%;
}

@media (min-width:768px) {
  .sp-map-filters {
    width:auto;
    max-width:50%;
  }
}

.sp-map-filters.active {
  display: block;
}

.sp-map-filter {
  cursor:pointer;
  display: flex;
  align-items: center;
}

.sp-map-filter.disabled {
  filter: grayscale(100%);
  color:#ccc;
}

.sp-map-filter-icon {
  height:20px;
  width:20px;
  display: flex;
  justify-content: center;
  margin-right:10px;
  flex-shrink: 0;
}

.sp-map-filter-label {
  line-height: normal;
}

.sp-map-filter-checkbox {
  display:none !important;
}

.sp-map-filter-image {
  height:100%;
  width:auto;
}

.sp-map-filter-color {
  height:100%;
  width:100%;
}

/*
  Leaflet
*/
.leaflet-div-icon {
  background: transparent;
  border:0;
}

/*
  Modal
*/
.sp-modal {
  display:none;
  position:fixed;
  height:100vh;
  width:100vw;
  top: 0;
  left: 0;
  z-index:9999;
  background: rgba(11, 11, 11,0.5);
  overflow: auto;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  max-width: none !important;
  margin:0 !important;
}
.sp-modal-content {
  margin:auto;
  padding:32px;
  position:relative;
  width: 100%;
  max-width:900px;
  background-color: #fff;
}
.sp-modal-content img {
  width:100%;
}
.sp-modal.sp-is-active {
  display:flex;
}
body.sp-modal-is-active {
  overflow: hidden;
  padding-right:15px;
}

.sp-modal-close {
  position:absolute;
  color:#ccc;
  top:0px;
  right:16px;
  cursor:pointer;
  font-size: 4rem;
  z-index: 100;
}
.sp-modal-close:hover {
  color:#000;
}

/*
  images
*/
img.is-clickable {
  cursor: pointer;
}

/*
  Cards
*/
.sp-cards {
  display: grid;
  grid-gap:16px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* margin:-16px !important; */
}

.sp-card {
  display: flex;
}

.sp-card-content {
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.sp-card.is-full {
  width:100%;
}

.sp-card-image-wrapper {
  cursor:pointer;
  flex-grow: 0 0;
  position: relative;
  height:300px;
  min-width: 300px;
  overflow: hidden;
}

.sp-card-image {
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.sp-card-image-background {
  position:relative;
  filter: blur(4px) grayscale(100%);
  height:100%;
  width:100%;
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: center center;
}

.sp-card-body {
  flex-grow: 1 1;
  padding:16px;
}

/*
  Hero
*/
.sp-hero {
  height:400px;
  overflow: hidden;
  position: relative;
}

.sp-hero-image {
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.sp-hero-image-background {
  position:relative;
  filter: blur(4px);
  height:100%;
  width:100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/*
  Mini map
*/
.sp-mini-map {
  height:300px;
}

/*
  Location picker map
*/
.sp-location-picker-map {
  height:300px;
}

.sp-location-picker-map-hint {
  display:none;
}
.sp-location-picker-map-hint.sp-is-active {
  display:block;
}

/*
  XHR Forms
*/
.sp-xhr-form-input {
  width:100%;
  /* margin-bottom:16px; */
}

.sp-xhr-form-hint {
  /* font-size:0.7rem; */
}

.sp-xhr-form-hint {
  font-size:0.8rem;
}

/*
  Enlarge on click
*/
.enlarge-on-click {
  cursor: pointer;
}
.enlarge-on-click-overlay {
  cursor: pointer;
  position:fixed;
  height:100%;
  width:100%;
  top:0;
  left:0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: rgba(200,200,200,0.5);
  z-index: 9999;
}
